
/* Import Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* -- CSS STYLING FROM ORIGINAL PORTFOLIO --*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-family: Helvetica, Arial, sans-serif;
  --primary-bgcolor: #fff;
  --font-color: gray;
  --border: 3px solid #76767;

   
}


body {
  background-color: var(--primary-bgcolor);
  color: var(--font-color);
}

.section-title h2 {
  font-family: var(--font-family);
  color: var(--font-color);

}



/* Apply Styles to <header> */

header {
  position: fixed;
  padding: 0 20px 10px 10px;
  background-color: #ffffff;
  width: 100%;
  z-index: 999;
  
}

/* Apply Styles to Header Elements */


.hideMenuNav {
  display: none;
}
.showMenuNav {
  display: block;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: white;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

header a {
  text-decoration: none;
  font-family: var(--font-family);
  color: #999;
  font-weight: bold;
  font-size: 32px;
} 


header nav ul li a {
  margin: 0 15px;
  font-weight: lighter;
  font-size: 16px;
  font-family: var(--font-family);  
}



header nav ul li a:hover {
  text-decoration: underline;
}



/* Projects Section Styling */

.project-button {
  cursor: pointer;
  display: flex;
  gap: 5px;
  margin: 10px;
  border: 0.2rem solid var(--primary-text);
  border-radius: 10px;
  padding: 5px 10px;
  font-weight: bold;
  color: var(--primary-text);
}

.project-button:hover {
  color: zinc;
  transition: all 0.3s;
  background-color: var(--primary-text);
}

.project-button-wrapper {
  z-index: 10;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}


/* Footer Styling */

footer {
  width: 100%;
  padding: 35px 25px;
  font-family: var(--font-family);
  color: var(--font-color);
  background-color: var(--primary-bgcolor);
  text-align: right;
  
}

footer div {
  float: right;
  font-size: 14px;
  line-height: 1.5;
}




  


