
/* Import Tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;


/* -- CSS STYLING FROM ORIGINAL PORTFOLIO --*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-family: Helvetica, Arial, sans-serif;
  --primary-bgcolor: #fff;
  --font-color: #999;
  --border: 3px solid #76767;

   
}


body {
  background-color: var(--primary-bgcolor);
  color: var(--font-color);
}

.section-title h2 {
  font-family: var(--font-family);
  color: var(--font-color);

}



/* Apply Styles to <header> */

header {
  position: fixed;
  padding: 0 20px 10px 10px;
  background-color: #ffffff;
  width: 100%;
  z-index: 9999;
  
}

/* Apply Styles to Header Elements */

header h1 {
  display: flex;
  justify-content: center;
}


header a {
  text-decoration: none;
  font-family: var(--font-family);
  color: #999;
  font-weight: bold;
  font-size: 36px;
}

/* Apply Style to Navigation Bar */

header nav {   
  display: flex;
  float: right;
  margin: 5px 0;

}

header nav ul li {
  display: inline-flex
}



header nav ul li a {
  display: inline-flex;

  margin: 0 15px;
  font-weight: lighter;
  font-size: 18px;

}


header nav li a {
  
  justify-content: center;
  color: #999;
  font-family: var(--font-family);  

}

header nav ul li a:hover {
  text-decoration: underline;
}




/* Projects Section Styling */

.project-button {
  cursor: pointer;
  display: flex;
  gap: 5px;
  margin: 10px;
  border: 0.2rem solid var(--primary-text);
  border-radius: 10px;
  padding: 5px 10px;
  font-weight: bold;
  color: var(--primary-text);
}

.project-button:hover {
  color: zinc;
  transition: all 0.3s;
  background-color: var(--primary-text);
}

.project-button-wrapper {
  z-index: 10;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

/* Tech Icons Styling */
/* .tech-icons {
  font-size: 4.5em ;
  margin: 15px ;
  padding: 10px;
  opacity: 0.93;
  border: 1.7px solid #999;
  vertical-align: middle;
  text-align: center;
  border-radius: 5px;
  display: table;
  box-shadow: 4px 5px 4px 3px rgba(91, 91, 91, 0.137);
  overflow: hidden;
  transition: all 0.4s ease 0s;
} */





/* Footer Styling */

footer {
  width: 100%;
  padding: 35px 25px;
  font-family: var(--font-family);
  color: var(--font-color);
  background-color: var(--primary-bgcolor);
  text-align: right;
  
}

footer div {
  float: right;
  font-size: 14px;
  line-height: 1.5;
}




  


